@media screen and (max-width: 767px) {
    .main-header {
        padding: 0px 20px;
        z-index: 9;
        .menu-icon {
            display: block;
            &__line {
                animation: closedMid 0.8s backwards;
                animation-direction: reverse;

                &::before {
                    animation: closedTop 0.8s backwards;
                    animation-direction: reverse;
                }
                &::after {
                    animation: closedBottom 0.8s backwards;
                    animation-direction: reverse;
                }
            }
        }
        .nav-links {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 10rem 0;
            width: 100%;
            height: 100vh;
            font-size: 2rem;
            color: white;
            background: #272727;
            visibility: hidden;
            transition: all 0.6s ease;

            .nav-link {
                opacity: 0;
                transform: translateX(100%);
                width: 100%;
                text-align: center;
                a {
                    display: block;
                    padding: 2rem 0;
                }
            }
        }
        .menu-btn:checked ~ .nav-links {
            visibility: visible;
            opacity: 1;
            .nav-link {
                opacity: 1;
                transform: translateX(0);
                transition: all 0.4s ease-in-out;
            }
        }

        .menu-btn:checked ~ .menu-icon {
            .menu-icon__line {
                background: white;
                animation: openMid 0.8s forwards;

                &::before {
                    background: white;
                    animation: openTop 0.8s forwards;
                }
                &::after {
                    background: white;
                    animation: openBtm 0.8s forwards;
                }
            }
        }
    }

    .container {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }
    .landing_picture {
        background: url("./images/portfolio/vertical.jpg") no-repeat bottom
            center;
    }
    .range {
        display: block;
    }
    .range-left {
        width: 100%;
        height: 33%;
    }
    .range-right {
        width: 100%;
    }
    .right-top,
    .right-bottom {
        height: 33%;
    }
    .range-left h3,
    .right-top h3,
    .right-bottom h3 {
        top: 50px;
        font-size: 15vw;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .range-left button,
    .right-top button,
    .right-bottom button {
        top: 30vw;
        left: 50%;
        font-size: 3vw;
        width: 25vw;
        height: 7vw;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .swiper-slide {
        width: 80vw;
        height: 65vh;
    }
    .swiper-slide img {
        width: auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .js-logo {
        margin-left: 0px !important;
    }
    .contact {
        display: block;
        height: 190vh;
        margin-bottom: 15px;
    }
    .form {
        height: 100vh;
        width: 100%;
        text-align: center;
    }
    .form h2 {
        font-size: 8vw;
        padding-top: 5vh;
        margin: 0;
        margin-bottom: 2vh;
    }
    .form input,
    .form textarea {
        font-size: 1rem;
        width: 80%;
        margin: 2vh;
        padding: 2vw;
    }
    .contact-right {
        width: 100%;
        height: 90vh;
    }
    .map {
        height: 50%;
    }
    .address {
        height: 50%;
        display: block;
        text-align: center;
    }
    .address-left,
    .address-right {
        width: 100%;
        height: 25%;
        padding: 15px 0px;
        margin: 0px;
    }
    .address-title h3 {
        font-size: 3.2vh;
    }

    .address-left p,
    .address-right p {
        font-size: 2vh;
    }
    .form button {
        font-size: 4vw;
        margin-top: 5vh;
    }
}
