@media screen and (max-width: 1280px) {
    .range-left h3,
    .right-top h3,
    .right-bottom h3 {
        left: 5vw;
    }
    .range-left button,
    .right-top button,
    .right-bottom button {
        left: 5vw;
    }

    form {
        align-items: center;
    }
    .form input,
    .form textarea {
        width: 85%;
        margin: 2vh;
        padding: 1vw;
    }
    .address-title {
        padding-top: 30px;
    }
    .address-right,
    .address-left {
        height: 50%;
        padding-left: 15px;
        padding-top: 0px;
    }
    .address-left p,
    .address-right p {
        font-size: 1.5vw;
    }
}
