.swiper {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url("./images/textures/porcelain.jpg") no-repeat bottom center;
    background-size: cover;
    scroll-snap-align: start;
}
.swiper-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.swiper-slide {
    width: 55vw;
    height: 65vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-align: center;
}
.swiper-slide img {
    height: 65vh;
    position: relative;
    transform: translateY(-50%), translateX(-50%);

    // -webkit-box-shadow: 40px 8px 410px -6px black;
    // -moz-box-shadow: 40px 8px 40px -6px black;
    //      box-shadow: 40px 8px 40px -6px black;
}
