@import "landing_picture";
@import "header";
@import "media";
@import "animations";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0px 25px;
    padding-top: 75px;
    padding-bottom: 25px;
}
