.landing_picture {
  width: 100%;
  height: 100%;
  background: url(/images/landing-picture.jpg?5a2b56fa49c1577ff854910c962b114a) no-repeat bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  page-break-after: 0 10vw;
  color: white;
}

.main-header {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100%;
  padding: 0 25px;
  padding-right: 42px;
  color: black;
  top: 0;
  background-color: white;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.main-header .js-logo {
  height: 70px;
  width: auto;
  margin-left: 30px;
}

.main-header .nav-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 400;
}

.main-header .nav-links .nav-link {
  transition: opacity 0.4s ease-in-out;
}

.main-header .nav-links .nav-link a {
  margin: 0.2rem 0px;
  padding: 1rem 0px;
}

.main-header .nav-links .nav-link a:hover {
  color: #757575;
}

.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  padding-right: 0px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: black;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}

.main-header .menu-icon__line::before,
.main-header .menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: black;
  transition: background 0.8s ease;
}

.main-header .menu-icon__line::before {
  transform: translateY(-5px);
}

.main-header .menu-icon__line::after {
  transform: translateY(5px);
}

.main-header .menu-btn {
  display: none;
}

@-webkit-keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes openMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

.swiper {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: url(/images/porcelain.jpg?4ce0a115c6d854e1592dd929daa67b06) no-repeat bottom center;
  background-size: cover;
  scroll-snap-align: start;
}

.swiper-container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.swiper-slide {
  width: 55vw;
  height: 65vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-align: center;
}

.swiper-slide img {
  height: 65vh;
  position: relative;
  transform: translateY(-50%), translateX(-50%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

#top {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

#portfolio {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-top: 75px;
}

.range {
  width: 100%;
  height: 95vh;
  padding: 25px 0px;
  display: flex;
}

.range-kitchen {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(/images/1.jpg?5159031728085cc775121a693da0a570) no-repeat bottom center;
  background-size: cover;
  transition: all 0.5s ease;
}

.range-left {
  width: 50%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.range-right {
  width: 50%;
  height: 100%;
  display: block;
}

.range-left h3,
.right-top h3,
.right-bottom h3 {
  position: absolute;
  z-index: 5;
  top: 80px;
  left: 100px;
  z-index: 1;
  font-size: 7rem;
  font-family: "Mr De Haviland", cursive;
  font-weight: 100;
}

.range-left button,
.right-top button,
.right-bottom button {
  position: absolute;
  z-index: 5;
  width: 150px;
  height: 40px;
  top: 220px;
  left: 100px;
  z-index: 1;
  background: transparent;
  border: 1px solid black;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: all 0.5s ease;
}

.range-left button:hover,
.right-top button:hover,
.right-bottom button:hover {
  background: black;
  color: white;
}

.right-top,
.right-bottom {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.range-kitchen,
.range-laundry,
.range-bathroom {
  width: 100%;
  height: 100%;
  background: url(/images/laundry.jpg?9a06df6add8f008e4849cc2e7dd0f09d) no-repeat bottom center;
  background-size: cover;
  transition: all 0.5s ease;
}

.range-bathroom {
  background: url(/images/2.jpg?636b6eff59d7099d40cd6198fb839b54) no-repeat bottom center;
  background-size: cover;
}

.range-kitchen {
  background: url(/images/7.jpg?0a8621937efe01d6025d677362a93d6e) no-repeat bottom center;
  background-size: cover;
}

.range-left:hover > .range-kitchen {
  transform: scale(1.05);
  opacity: 0.6;
}

.right-top:hover > .range-laundry {
  transform: scale(1.05);
  opacity: 0.6;
}

.right-bottom:hover > .range-bathroom {
  transform: scale(1.05);
  opacity: 0.4;
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 25px;
}

.form {
  width: 50%;
  height: 100%;
  background: url(/images/concrete-grey.jpg?5b800d4a016eee45e4cf8f8a93fdd00a) no-repeat bottom center;
  background-size: cover;
  color: white;
}

.form h2 {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 3em;
  margin-top: 110px;
  margin-left: 90px;
  margin-bottom: 50px;
}

.form input,
.form textarea {
  font-size: 1.2rem;
  background: rgba(46, 46, 46, 0.2);
  width: 60%;
  margin: 15px 20%;
  padding: 15px 20px;
  outline: none;
  border: none;
  border-bottom: 1px grey solid;
  border-radius: 5px;
  color: white;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: 0;
  border-bottom: 2px white solid;
}

.form button {
  width: 60%;
  margin: 15px 20%;
  padding: 15px 20px;
  outline: none;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-top: 25px;
  background: #d1d1d1;
  transition: all 0.2s ease-in-out;
}

.form button:hover {
  cursor: pointer;
  background: white;
}

.contact-right {
  width: 50%;
  height: 100%;
  background: silver;
}

.map {
  height: 60%;
}

#mapid {
  height: 100%;
  width: 100%;
}

.address {
  height: 40%;
  background: #1f1f1f;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.address-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.address-title h3 {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 2rem;
  padding-top: 3%;
}

.address-left,
.address-right {
  width: 50%;
  height: 70%;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 6%;
  font-size: 1.3rem;
}

.address-left p,
.address-right p {
  width: 100%;
  font-weight: 100;
}

#contact {
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  .main-header {
    padding: 0px 20px;
    z-index: 9;
  }

  .main-header .menu-icon {
    display: block;
  }

  .main-header .menu-icon__line {
    -webkit-animation: closedMid 0.8s backwards;
            animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }

  .main-header .menu-icon__line::before {
    -webkit-animation: closedTop 0.8s backwards;
            animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }

  .main-header .menu-icon__line::after {
    -webkit-animation: closedBottom 0.8s backwards;
            animation: closedBottom 0.8s backwards;
    animation-direction: reverse;
  }

  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    color: white;
    background: #272727;
    visibility: hidden;
    transition: all 0.6s ease;
  }

  .main-header .nav-links .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }

  .main-header .nav-links .nav-link a {
    display: block;
    padding: 2rem 0;
  }

  .main-header .menu-btn:checked ~ .nav-links {
    visibility: visible;
    opacity: 1;
  }

  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
  }

  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background: white;
    -webkit-animation: openMid 0.8s forwards;
            animation: openMid 0.8s forwards;
  }

  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background: white;
    -webkit-animation: openTop 0.8s forwards;
            animation: openTop 0.8s forwards;
  }

  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background: white;
    -webkit-animation: openBtm 0.8s forwards;
            animation: openBtm 0.8s forwards;
  }

  .container {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }

  .landing_picture {
    background: url(/images/vertical.jpg?7a4a876c0a18d0cb1f4419e306e57508) no-repeat bottom center;
  }

  .range {
    display: block;
  }

  .range-left {
    width: 100%;
    height: 33%;
  }

  .range-right {
    width: 100%;
  }

  .right-top,
  .right-bottom {
    height: 33%;
  }

  .range-left h3,
  .right-top h3,
  .right-bottom h3 {
    top: 50px;
    font-size: 15vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .range-left button,
  .right-top button,
  .right-bottom button {
    top: 30vw;
    left: 50%;
    font-size: 3vw;
    width: 25vw;
    height: 7vw;
    transform: translateX(-50%);
  }

  .swiper-slide {
    width: 65vw;
    height: 65vh;
  }

  .swiper-slide img {
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .js-logo {
    margin-left: 0px !important;
  }

  .contact {
    display: block;
    height: 190vh;
    margin-bottom: 15px;
  }

  .form {
    height: 100vh;
    width: 100%;
    text-align: center;
  }

  .form h2 {
    font-size: 8vw;
    padding-top: 5vh;
    margin: 0;
    margin-bottom: 2vh;
  }

  .form input,
  .form textarea {
    font-size: 1rem;
    width: 80%;
    margin: 2vh;
    padding: 2vw;
  }

  .contact-right {
    width: 100%;
    height: 90vh;
  }

  .map {
    height: 50%;
  }

  .address {
    height: 50%;
    display: block;
    text-align: center;
  }

  .address-left,
  .address-right {
    width: 100%;
    height: 25%;
    padding: 15px 0px;
    margin: 0px;
  }

  .address-title h3 {
    font-size: 3.2vh;
  }

  .address-left p,
  .address-right p {
    font-size: 2vh;
  }

  #contact {
    padding-top: 100px;
  }
}

